body {
  margin-left: 0;
  margin-top: 5%;
  padding: 0;
  background-color: #f0f0f0;
  background-image: url(background-drinks.avif);
  font-family: Arial, sans-serif; 
}
.picture {
  display: inline-block;
  margin: 5px; 
  text-align: center;
  margin-left: 5%;
}

.picture img {
  width: 400px;
  height: 300px;
  display: block;
  margin: 0 auto; 
  border-radius: 10px;
  border: solid orange 5px;

}

.name {
  margin-top: 8px;
  font-size: 50px;
  font-weight: bold;
  margin: 20px;
  color: brown
 
}
a{
  font-size: 40px
}
a:hover{
  background-color: white;
  font-size: 40px;
}
  
ul,ol{
  font-size: 20px;
  font-weight: bold;
  margin: 60px;
}
.drinks{
      color: red;
      text-align: center;  
      font-family: "Changa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
}